<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to t('feed_item.delete'), user, method: :delete, data: {confirm: t('feed_item.confirm')} %>
  <% end %>
  <br>
  <%= t('user_info.micropost')%> <%= user.microposts.count  %>
</li>