<li>
  <div class="avatar">
    <%= image_tag user.avatar.thumb.url %>
  </div>
  <div class="timestamp"><h5><%= user.nick_name %></h5></div>
  <%= link_to user.name, user %>
  <td>
    <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                "data-sid" => current_user.id, "data-rip" => user.id %>
  </td>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to t('feed_item.delete'), user, method: :delete, data: {confirm: t('feed_item.confirm')} %>
  <% end %>
  <br>
  <%= t('user_info.micropost')%> <%= user.microposts.count  %>


</li>