<% provide(:title, t('update_page.title'))%>
<h1><%= t('update_page.title') %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label t('sign_up.label_name') %>
        <%= f.text_field :name %>

        <%= f.label t('sign_up.label_nick') %>
        <%= f.text_field :nick_name %>

        <%= f.label t('sign_up.label_email') %>
        <%= f.text_field :email %>

        <%= f.label t('sign_up.label_password') %>
        <%= f.password_field :password %>

        <%= f.label t('sign_up.label_confirm') %>
        <%= f.password_field :password_confirmation %>
        <!--
        <%= f.label :locale %>
        <%= f.select :locale, options_for_select([['RU', 'ru'], ['EN', 'en']], selected: :options ) %>
                 -->
        <p>
        <label>My Avatar</label>
        <%= image_tag(@user.avatar.url) if @user.avatar?  %>
        <p>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
          </p>
        </p>
        <%= f.submit t('update_page.save_button'), class: "btn btn-large btn-primary" %>
    <% end %>



  </div>
</div>