<% provide(:title, "Edit user") %>
<h1><%= t('update_page.title') %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label t('sign_up.label_name') %>
        <%= f.text_field :name %>

        <%= f.label t('sign_up.label_email') %>
        <%= f.text_field :email %>

        <%= f.label t('sign_up.label_password') %>
        <%= f.password_field :password %>

        <%= f.label t('sign_up.label_confirm') %>
        <%= f.password_field :password_confirmation %>

        <%= f.label :locale %>
        <%= f.select :locale, options_for_select([['RU', 'ru'], ['EN', 'en']],
                                                   selected: :options ) %>

        <%= f.submit t('update_page.save_button'), class: "btn btn-large btn-primary" %>
    <% end %>





    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank"><%= t('update_page.cange_link') %></a>
  </div>
</div>