<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <div class="avatar">
        <%=  image_tag @user.avatar.url(:thumb) %>
      </div>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <div class="timestamp"><h5><%= @user.nick_name %></h5></div>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'shared/follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
        <h3><%= t('show_follow.posts')%> <%= @user.microposts.count %></h3>
        <ol class="microposts">
        <% @microposts.each do |micropost| %>
            <li>
              <%= auto_link_usernames(micropost.content) %>
              <br>
              <span class="timestamp">
                 <%= t('feed_item.posted')%> <%= time_ago_in_words(micropost.created_at) %> <%= t('feed_item.ago')%>.
                </span>
              <% if current_user?(micropost.user) %>
                  <%= link_to t('feed_item.delete'), micropost, method: :delete,
                              data: { confirm: t('feed_item.confirm') }  %>
              <%end %>
            </li>
        <% end %>
        </ol>>
        <%= will_paginate @microposts %>
    <% end %>
  </div>

</div>

